.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-family: 'Arial', sans-serif;
}

.page h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.container {
  width: 300px;
  height: 300px;
  padding: 20px;
  background: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  text-align: left;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.checkbox input {
  width: 20px;
  height: 20px;
  accent-color: #4cafef;
  border-radius: 4px;
  flex-shrink: 0; 
}

.checkbox label {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-left: 5px; 
}

/* .link-container {
  text-align: center;
  margin-top: 20px;
}

.link-container a {
  text-decoration: none;
  color: #4cafef;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  background-color: #4cafef;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3a9bd9;
} */
